.app{
  text-align: center;
 
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.action {
  width: 200px;
  height: 200px;
  padding: 10px 5px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.dataItem{
  padding: 5px 5px;
  margin: 5px;
  background-color: rgb(79, 195, 195);
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.btn_transfer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  text-align: center;
  padding: 15px;
  width: 60px;
  height: 30px;
  font-size: 20px;
  margin: 10px;
  border:none;
  cursor: pointer;
}
.checked {
  background-color: black;
  color: beige;
}
